{%extends "admin_layout.html"%}    <!--Inherited all nav features-->
{%block content %}
            <div class="center">Add Subject</div>
            <form action="#s" method="POST">
            <div class="input_form">
              <div class="mb-3">
                <label for="sub_id">Subject ID</label>
                <input type="text" class="form-control" id="sub_id" name="sub_id" placeholder="subject id">
              </div>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="subject name">
                  </div>
                  <div class="mb-3">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="description for subject">
                  </div>
                                    
                  <div  class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/login" type="button" class="btn btn-primary">Cancel</a>
                  </div>
            </div>
            </form>
{%endblock%}