{%extends "admin_layout.html"%}    <!--Inherited all nav features-->
{%block content %}
              <div class="container">
                {%if subject%}
                <div class="row">
                    {%for sub in subject%}
                  <div class="col">
                    <!-- Subject1 Card here -->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{subject.name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{subject.description}}/h6>
                          {%if subject.chapters%}
                        <table>
                            <tr>
                                <th> Subject ID</th>
                                <th>Name of Subject</th>
                                <th>Description of Subject</th>
                                {%for chapter in subject.chapters%}
                                <tr>
                                    <td>
                                        {{chapter.id}}
                                        {{chapter.name}}
                                        {{chapter.description}}

                                    </td>
                                </tr>
                            </tr>
                            {%endfor%}
                          </table>
                          {%else%}
                          <p>No Subjects here!!</p>
                          {%endif%}
                          <button type="button" class="btn btn-outline-primary">+Add Chapter</button>
                        </div>
                      </div>
                      <!-- End of Subject1 -->
                  </div>
                  {%endfor%}
                </div>   
                {%else%}
                 <h3 class="center"> No Chapters are available!!</h3>
                {%endif%}
              </div>
              <div class="center">
                <button type="button" class="btn btn-primary">+Add Subject</button>
            </div>
        </div>
{%endblock%}