<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Admin Dashboard</title>
</head>
<body>
    <h3>Welcome to Quiz Master</h3>
    <div class="my_container">
        <div class="center">Admin Dashboard</div>
        <div class="my_panel">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                 
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quiz</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">Summary</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Logout</a>
                    </li>
                  </ul>
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                  <span class="navbar-text">
                    Welcome Admin
                  </span>
                </div>
              </nav>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <!-- Subject1 Card here -->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Quantum Physics</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <button type="button" class="btn btn-outline-primary">+Add Chapter</button>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <!-- Subject2 Card here -->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Machine Learning </h5>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <button type="button" class="btn btn-outline-primary">+Add Chapter</button>
                        </div>
                      </div>
                  </div>
                  
              </div>
        </div>
        <div class="center">
            <button type="button" class="btn btn-primary">+Add Subject</button>
        </div>
    </div>
</body>
</html>