<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Admin Dashboard</title>
</head>
<body>
    <h3 class="center">Welcome to Quiz Master!!</h3>
    <div class="input_form" style="background-image: url('/quiz_img.jpg')";>
        Hi, Welcome to Quizz Master App!!Your Onestop soln for multiple exam preparations!!!
    </div>
    <div class="center"><a href="/login" type="button" class="btn btn-primary">Login</a></div>
</body>
</html>