{%extends "user_layout.html"%}
{%block content %}
             <!-- Table which contains info abt the upcoming quizes in user dashboard -->
                  <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>No. of Questions</th>
                            <th>Date</th>
                            <th>Duration (hh:mm)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>05</td>
                            <td>xx/xx/yyyy</td>
                            <td>00:10</td>
                            <td>
                                <button class="btn btn-primary btn-sm">View</button>
                                <button class="btn btn-success btn-sm">Start</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>10</td>
                            <td>xx/xx/yyyy</td>
                            <td>00:10</td>
                            <td>
                                <button class="btn btn-primary btn-sm">View</button>
                                <button class="btn btn-success btn-sm">Start</button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>15</td>
                            <td>xx/xx/yyyy</td>
                            <td>00:30</td>
                            <td>
                                <button class="btn btn-primary btn-sm">View</button>
                                <button class="btn btn-success btn-sm">Start</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
{%endblock%}